.productview {
  display: grid;
}
h1 {
  grid-column: 1 / -1;
  text-decoration: underline;
  padding: 1rem;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

button {
  border: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

nav ul li {
  padding: 0.5rem;

  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.active {
  color: white;
  background-color: black;
  padding: 1rem;
}
.active:hover {
  color: white;
  background-color: black;
  padding: 1rem;
}
.categories {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.categories li {
  list-style: none;
  padding: 1rem;
}
.categories a {
  text-decoration: none;
  color: grey;
}
.categories a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
.productlist {
  display: grid;
}
.showPrice {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: red;
}
.price {
}
.discountedPrice {
  padding-left: 1rem;
  text-decoration: line-through;
  color: gray;
}
.discounted {
  position: relative;
}
.soldOut {
  position: relative;
}
.soldOut img {
  opacity: 30%;
}
.soldOutText {
  position: absolute;
  left: 0;
  top: 240px;
  padding: 5px;
  background: rgba(134, 129, 129, 0.3);
}
.disText {
  position: absolute;
  top: 240px;
  left: 0;
  background-color: red;
  color: white;
  padding: 5px;
}
@media all and (min-width: 500px) {
  .productview {
    grid-template-columns: 1fr 1fr;
  }
  nav ul {
    justify-content: flex-start;
  }

  nav ul li {
    padding: 1rem;
  }
  nav ul li a:hover {
    background-color: rgb(216, 216, 216);
    padding: 1rem;
  }
  nav ul li a {
    padding: 1rem;
  }
  .categories {
    flex-direction: row;
    border-bottom: 1px solid black;
  }
  body {
    margin: 0;
  }
  .productlist {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 2rem;
    grid-auto-rows: 1fr;
    padding: 1rem;
    width: 70%;
    
}
